.form {
  position: absolute;
  top: -25px;
  left: 0;
  width: 100%;
  display: flex;
  gap: 8px;
}

.input {
  border-radius: 8px;
  padding: 16px;
  width: 100%;
  background: rgb(38, 38, 38);
  border: 1px solid rgb(13, 13, 13);
  color: rgb(242, 242, 242);

  &::placeholder {
    font-size: 16px;
    color: rgb(128, 128, 128);
    font-weight: 400;
  }
}

.button {
  min-width: fit-content;
  height: 100%;
  border-radius: 6px;
  padding: 16px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 8px;
  transition: all .3s;

  span {
    font-size: 14px;
    font-weight: 400;
    transition: all .3s;
    margin-right: 0 !important;
  }

  path {
    transition: all .3s;
    
  }

  &:hover {
    background-color: rgb(227, 254, 115) !important;
    border-color: rgb(227, 254, 115) !important;

    path {
      color: rgb(0, 13, 41);
    }

    span {
      color: rgb(0, 13, 41);
    }
  }
}