body {
  font-family: 'Inter', sans-serif;
  background-color: rgb(0, 13, 41);
  padding: 0;
  margin: 0;
  color: white;
  box-sizing: border-box;
}

* {
  color: #f2f2f2;
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
}
